@using ShafaHRCoreLib.Managers
@{
    ViewBag.Title = "پژوهشگران سلامت شفا";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box" style="padding: 10px">
    <div class="row">
        <div class="col-md-12" style="padding:15px;background-color: #367656">
            <span style="font-size: 16pt;color: #ffffff"> داشبورد </span>
        </div>
    </div>
</div>

<div class="container">

  

</div> <!-- container -->