<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>پژهشگران سلامت شفا</title>

    <!-- Stylesheets -->
    <link href="/RTL/css/bootstrap.css" rel="stylesheet">
    <link href="/RTL/css/style.css" rel="stylesheet">
    <link href="/RTL/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="/RTL/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/RTL/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body class="rtl">

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <header class="main-header header-style-three">

            <!-- Header top -->
            <div class="header-top-three">
                <div class="auto-container">
                    <div class="inner-container">
                        <div class="top-left">
                            <ul class="contact-list clearfix">
                                <li><i class="flaticon-pie-chart fw-bold fs-5"></i>داشبورد من</li>
                                <li><i class="flaticon-user-experience fw-bold fs-5"></i>نام کاربر</li>
                            </ul>
                        </div>
                        <div class="top-right">
                            <ul class="social-icon-one light text-white">
                                <li><a href="#" style="width: 60px" >خانه</a></li>|
                                <li><a href="#" style="width: 70px">درباره ما</a></li>|
                                <li><a href="#" style="width: 100px">اطلاعات تماس</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Top -->
            <!-- Header Lower -->
            <div class="header-lower">
                <div class="auto-container">
                    <!-- Main box -->
                    <div class="main-box">

                        <div class="logo-box">
                            <div class="logo"><a href="index.html"><img src="/RTL/images/logo.png" alt="" title=""></a></div>
                        </div>

                        <!--Nav Box-->
                        <div class="nav-outer">
                            <nav class="nav main-menu">
                                <ul class="navigation" id="navbar">
                                    <li class="current">
                                        <span>خانه</span>
                                        
                                    </li>

                                    <li>
                                        <span>درباره ما</span>
                                       
                                    </li>
                                    <li>
                                        <span>تیم علمی</span>
                                        
                                    </li>
                                    <li >
                                        <span>سازمان های طرف قرارداد</span>
                                       
                                    </li>

                                    <li>
                                        <span>طرح های در دست اجرا</span>
                                      
                                    </li>
                                    <li >
                                        <span>متون علمی</span>
                                        
                                    </li>
                                    <li><a href="">کتب</a></li>
                                    <li>
                                        <a href="">
                                            ژورنال واچ اپیدمیولوژی و آمار
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- Main Menu End-->

                           
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sticky Header  -->
            <div class="sticky-header">
                <div class="auto-container">
                    <div class="main-box">
                        <div class="logo-box">
                            <div class="logo"><a href="index.html"><img src="/RTL/images/logo.png" alt="" title=""></a></div>
                        </div>

                        <!--Keep This Empty / Menu will come through Javascript-->
                    </div>
                </div>
            </div><!-- End Sticky Menu -->
            <!-- Mobile Header -->
            <div class="mobile-header">
                <div class="logo"><a href="index.html"><img src="/RTL/images/logo-4.png" alt="" title=""></a></div>

                <!--Nav Box-->
                <div class="nav-outer clearfix">

                    <div class="outer-box">
                        <!-- Search Btn -->
                        <div class="search-box">
                            <button class="search-btn mobile-search-btn"><i class="flaticon-magnifying-glass"></i></button>
                        </div>

                        <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="fa fa-bars"></span></a>
                    </div>
                </div>
            </div>

            <!-- Mobile Nav -->
            <div id="nav-mobile"></div>

            <!-- Header Search -->
            <div class="search-popup">
                <span class="search-back-drop"></span>
                <button class="close-search"><span class="fa fa-times"></span></button>

                <div class="search-inner">
                    <form method="post" action="blog-showcase.html">
                        <div class="form-group">
                            <input type="search" name="search-field" value="" placeholder="Search..." required="">
                            <button type="submit"><i class="flaticon-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Header Search -->
        </header>
        <!--End Main Header -->
        @RenderBody()
        <!-- Main Footer -->
        <footer class="main-footer style-three">
            <!--Widgets Section-->
            <div class="widgets-section" style="background-image: url(/RTL/images/background/7.jpg);">
                <div class="auto-container">
                    <div class="row">
                        <!--Big Column-->
                        <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <!--Footer Column-->
                                <div class="footer-column col-xl-7 col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget about-widget">
                                        <div class="logo">
                                            <a href="index.html"><img src="images/logo-5.png" alt="" /></a>
                                        </div>
                                        <div class="text">
                                            <p>Our Clinic has grown to provide a world class facility for the clinic advanced restorative. </p>
                                            <p>We are among the most qualified implant providers in the AUS with over 30 years of quality training and experience.</p>
                                        </div>
                                        <ul class="social-icon-three">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-xl-5 col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget">
                                        <h2 class="widget-title">Departments</h2>
                                        <ul class="user-links">
                                            <li><a href="#">Surgery & Radiology</a></li>
                                            <li><a href="#">Family Medicine</a></li>
                                            <li><a href="#">Women’s Health</a></li>
                                            <li><a href="#">Optician</a></li>
                                            <li><a href="#">Pediatrics</a></li>
                                            <li><a href="#">Dermatology</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Big Column-->
                        <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <!--Footer Column-->
                                    <div class="footer-widget recent-posts">
                                        <h2 class="widget-title">Latest News</h2>
                                        <!--Footer Column-->
                                        <div class="widget-content">
                                            <div class="post">
                                                <div class="thumb"><a href="blog-post-image.html"><img src="images/resource/post-thumb-1.jpg" alt=""></a></div>
                                                <h4><a href="blog-post-image.html">Integrative Medicine <Br>& Cancer Treatment.</a></h4>
                                                <span class="date">July 11, 2020</span>
                                            </div>

                                            <div class="post">
                                                <div class="thumb"><a href="blog-post-image.html"><img src="images/resource/post-thumb-2.jpg" alt=""></a></div>
                                                <h4><a href="blog-post-image.html">Achieving Better <br>Health Care Time.</a></h4>
                                                <span class="date">August 1, 2020</span>
                                            </div>

                                            <div class="post">
                                                <div class="thumb"><a href="blog-post-image.html"><img src="images/resource/post-thumb-3.jpg" alt=""></a></div>
                                                <h4><a href="blog-post-image.html">Great Health Care <br>For Patients.</a></h4>
                                                <span class="date">August 1, 2020</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                    <!--Footer Column-->
                                    <div class="footer-widget contact-widget">
                                        <h2 class="widget-title">Contact Us</h2>
                                        <!--Footer Column-->
                                        <div class="widget-content">
                                            <ul class="contact-list">
                                                <li>
                                                    <span class="icon flaticon-placeholder"></span>
                                                    <div class="text">2130 Fulton Street San Diego <Br>CA 94117-1080 USA</div>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-call-1"></span>
                                                    <div class="text">Mon to Fri : 08:30 - 18:00</div>
                                                    <a href="tel:+89868679575"><strong>+898 68679 575</strong></a>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-email"></span>
                                                    <div class="text">
                                                        Do you have a Question?<br>
                                                        <a href="mailto:info@gmail.com"><strong>info@gmail.com</strong></a>
                                                    </div>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-back-in-time"></span>
                                                    <div class="text">
                                                        Mon - Sat 8.00 - 18.00<br>
                                                        <strong>Sunday CLOSED</strong>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Footer Bottom-->
            <div class="footer-bottom">
                <!-- Scroll To Top -->
                <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

                <div class="auto-container">
                    <div class="inner-container clearfix">
                        <div class="footer-nav">
                            <ul class="clearfix">
                                <li><a href="index.html">Privacy Policy</a></li>
                                <li><a href="about-us.html">Contact</a></li>
                                <li><a href="services.html">Supplier</a></li>
                            </ul>
                        </div>

                        <div class="copyright-text">
                            <p>© 1404 <a href="#">پژوهشگران سلامت شفا</a> تمامی حقوق وب سایت محفوظ است.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Main Footer -->

    </div><!-- End Page Wrapper -->

    <script src="/RTL/js/jquery.js"></script>
    <script src="/RTL/js/popper.min.js"></script>
    <script src="/RTL/js/bootstrap.min.js"></script>
    <script src="/RTL/js/jquery.fancybox.js"></script>
    <script src="/RTL/js/jquery.modal.min.js"></script>
    <script src="/RTL/js/mmenu.polyfills.js"></script>
    <script src="/RTL/js/mmenu.js"></script>
    <script src="/RTL/js/appear.js"></script>
    <script src="/RTL/js/mixitup.js"></script>
    <script src="/RTL/js/swiper.js"></script>
    <script src="/RTL/js/wow.js"></script>
    <script src="/RTL/js/gsap.min.js"></script>
    <script src="/RTL/js/ScrollTrigger.min.js"></script>
    <script src="/RTL/js/splitType.js"></script>
    <script src="/RTL/js/script.js"></script>
</body>
</html>


