@model string
<div class="text-center ">
    <img src="data:image/png;base64,@Model" alt="Captcha" style="margin-bottom: 10px;padding: 10px" /> <br />
    <input class="form-control" type="text" name="CaptchaInput" style="font-size: 12pt;direction: ltr;font-weight: bolder;color: #000" placeholder="متن تصویر را وارد کنید" />
</div>
